:root {
    --correct: #30fbf4; 
    --wrong: #fb3430;
    --normal: #3ba63e;
    --disabled: gray;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../assets/Lato/Lato-Regular.ttf');
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    position: relative;
    text-align: center;

    width: 72vw;
    height: 86vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.qTitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: lighter;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.button-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    position: relative;
    text-align: center;

    flex-wrap: wrap;
    gap: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

/* MCQ Buttons */
@keyframes shake {
    0% { transform: translateX(0); background-color: var(--wrong);}
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
  
@keyframes correct {
    0% { transform: scale(1); background-color: var(--correct);}
    25% { transform: scale(1.1); }
    50% { transform: scale(1.2); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.incorrect {
    background-color: red;
    color: white;
    animation: shake 0.5s;
}
.correct {
    background-color: green;
    color: white;
    animation: correct 0.5s;
}

  
.mcq-button {
    flex: 1;
    min-width: 200px; /* Minimum width to ensure buttons don't get too small */
    max-width: 300px; /* Maximum width to keep buttons uniform */
    margin: 10px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 750;
    text-align: center;
    color: #fff;
    background-color: var(--normal); /* Green */
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures overflow text is hidden */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
}
  
.mcq-button:hover {
    background-color: #4fde53; /* Darker green */
    transform: scale(1.05);
}
  
.mcq-button:active {
    background-color: #ddd; /* Even darker green */
    transform: scale(1);
}
  
.mcq-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
.mcq-button + .mcq-button {
    margin-top: 10px;
}
  
/* Additional styles for mobile responsiveness */
@media (max-width: 600px) {
    .mcq-button {
      width: 90%;
      font-size: 14px;
      padding: 12px 24px;
    }
}

